/* ViewTransactions.css */

.rules-container {
    background-color: #babeb9;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    font-size: 14px; /* Decrease font size */
}

.table {
    width: 100%;
    margin: 0 auto;
    font-size: 12px; /* Decrease font size */
}

.table th, .table td {
    padding: 8px;
    text-align: center;
}

.table thead th {
    background-color: #f2f2f2;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .rules-container {
        font-size: 12px; /* Further decrease font size for mobile */
    }

    .table th, .table td {
        padding: 6px;
    }
}
